<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="../Statics/styles/dnotas.css">
    
    <title>PrNotas</title>
</head>
<body>
    <div class="contenedorMayor">
        <div class="barraMaterias">
            <button class="btnMaterias" onclick="comprobar()">+</button>
        </div>
        <div class="grandeNotas">
            <div class="barraDeApuntes">
                <button class="crearApunte">+</button>
            </div>
            <div class="contenidoDeApuntes"></div>
        </div>
    </div>
<script src="../Dynamics/js/pruebaParaGenerar.js"></script>
<script src="../Dynamics/js/-fnotas.js"></script>
</body>
</html>