<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="../Statics/styles/dnotas.css">
    
    <title>PrNotas</title>
</head>
<body>
    <div class="contenedorMayor">
        <div class="barraMaterias">
            <button class="btnMaterias" onclick="generarMaterias()">+</button>
        </div>
<!--ESTE ES EL LADO DONDE ESTÁN LAS NOTAS (dERECHO)-->
        <div class="grandeNotas"></div>
<script src="../Dynamics/js/-fnotas.js"></script>
</body>
</html>